{% extends 'polls/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    {% block titulo %} <title> Polls baby </title> {% endblock %}
</head>
<body>

    {% block body %}

    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li>
                <a href="{% url 'Polls:detail' question.id %}">{{ question.question_text }}</a>
                <a href="{% url 'Polls:update_item' question.id %}" type="button" class="btn btn-info">Edit</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

    {% endblock %}

</body>
</html>