
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="{% url 'core:home' %}">
									Captura NFe
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        &copy; <a target="_blank" href="https://integrati.solutions/">Sistema de Captura de Notas Fiscais</a>
                        - Powerad by <a target="_blank" href="#">IntegraTI</a>
					</div>				
				</div>
            </footer>
            