<div class="main-header">

    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark2">

        <a href="{% url 'core:home' %}" class="logo">
            <img src="/static/assets/img/logo.png" alt="navbar brand" class="navbar-brand">
        </a>
        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
        </button>
        <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
        <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
                <i class="icon-menu"></i>
            </button>
        </div>
    </div>
    <!-- End Logo Header -->

    <!-- Navbar Header -->
    <nav class="navbar navbar-header navbar-expand-lg" data-background-color="dark">

        {% if request.user.is_authenticated %}
            <div class="container-fluid">
                <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                    <li class="nav-item toggle-nav-search hidden-caret">
                        <a class="nav-link" data-toggle="collapse" href="#search-nav" role="button"
                           aria-expanded="false" aria-controls="search-nav">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>

                    <li class="nav-item dropdown hidden-caret">
                        <div class="dropdown-menu quick-actions quick-actions-info animated fadeIn">
                            <div class="quick-actions-header">
                                <span class="title mb-1">Quick Actions</span>
                                <span class="subtitle op-8">Shortcuts</span>
                            </div>
                            <div class="quick-actions-scroll scrollbar-outer">
                                <div class="quick-actions-items">
                                    <div class="row m-0">
                                        <a class="col-6 col-md-4 p-0" href="#">
                                            <div class="quick-actions-item">
                                                <i class="flaticon-file-1"></i>
                                                <span class="text">Generated Report</span>
                                            </div>
                                        </a>
                                        <a class="col-6 col-md-4 p-0" href="#">
                                            <div class="quick-actions-item">
                                                <i class="flaticon-database"></i>
                                                <span class="text">Create New Database</span>
                                            </div>
                                        </a>
                                        <a class="col-6 col-md-4 p-0" href="#">
                                            <div class="quick-actions-item">
                                                <i class="flaticon-pen"></i>
                                                <span class="text">Create New Post</span>
                                            </div>
                                        </a>
                                        <a class="col-6 col-md-4 p-0" href="#">
                                            <div class="quick-actions-item">
                                                <i class="flaticon-interface-1"></i>
                                                <span class="text">Create New Task</span>
                                            </div>
                                        </a>
                                        <a class="col-6 col-md-4 p-0" href="#">
                                            <div class="quick-actions-item">
                                                <i class="flaticon-list"></i>
                                                <span class="text">Completed Tasks</span>
                                            </div>
                                        </a>
                                        <a class="col-6 col-md-4 p-0" href="#">
                                            <div class="quick-actions-item">
                                                <i class="flaticon-file"></i>
                                                <span class="text">Create New Invoice</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown hidden-caret">
                        <div class="nav-clock">
                        <div class="time">
                            <span class="time-hours"></span>
                            <span class="time-min"></span>
                            <span class="time-sec"></span>
                        </div>
                    </div><!-- nav-clock -->
{#                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">#}
{#                            <div class="avatar-sm">#}
{#                                <span class="avatar-title rounded-circle border border-white bg-dark tx-white"><i class="typcn typcn-pi-outline"></i> </span>#}
{#                            </div>#}
{#                        </a>#}
{#                        <ul class="dropdown-menu dropdown-user animated fadeIn">#}
{#                            <div class="dropdown-user-scroll scrollbar-outer">#}
{#                                <li>#}
{#                                    <div class="user-box">#}
{#                                        <div class="avatar-lg"><img src="/static/assets/img/profile.jpg"#}
{#                                                                    alt="image profile" class="avatar-img rounded">#}
{#                                        </div>#}
{#                                        <div class="u-text">#}
{#                                            <h4>#}
{#                                                {{ request.user.username }}#}
{#                                            </h4>#}
{#                                            <p class="text-muted">#}
{#                                                {{ request.user.email }}#}
{#                                            </p>#}
{#                                            <a href="#" class="btn btn-xs btn-secondary btn-sm">Perfil</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <div class="dropdown-divider"></div>#}
{#                                    <a class="dropdown-item" href="#">Meu Perfil</a>#}
{#                                    <div class="dropdown-divider"></div>#}
{#                                    <a class="dropdown-item" href="#">Configurações</a>#}
{#                                    <div class="dropdown-divider"></div>#}
{#                                    <a class="dropdown-item" href="{% url 'logout' %}">Sair do sistema</a>#}
{#                                </li>#}
{#                            </div>#}
{#                        </ul>#}
                    </li>
                </ul>
            </div>
        {% endif %}

    </nav>
    <!-- End Navbar -->
</div>
        