<!-- Sidebar -->
<div class="sidebar sidebar-style-2" data-background-color="dark2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner nav-collapse">
        <div class="sidebar-content">
            {% if request.user.is_authenticated %}
                <div class="user">
                    <div class="avatar-sm float-left mr-2">
                            <span class="avatar-title rounded-circle border border-white bg-primary tx-color-01 bold">
                                {{ request.user.username|slice:1|upper }}
                           </span>
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{ request.user.username }}
									<span class="user-level">
										{{ request.user.email }}
									</span>
									<span class="caret"></span>
								</span>
                        </a>
                        <div class="clearfix"></div>

                        <div class="collapse in" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <a href="#profile">
                                        <span class="link-collapse">Meu Perfil</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <span class="link-collapse">Sair do Sistema</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-primary">
                    <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="#dashboard"
                           data-toggle="collapse"
                           class="collapse-toggle"
                           aria-expanded="false">
                            <i class="fas fa-home"></i>
                            <p>Dashboard</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="dashboard">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="{% url 'core:home' %}">
                                        <span class="sub-item">Dashboard</span>
                                    </a>
                                </li>
{#                                <li>#}
{#                                    <a href="{% url 'core:dasboard_resumo' %}">#}
{#                                        <span class="sub-item">Resumo de Notas</span>#}
{#                                    </a>#}
{#                                </li>#}
                            </ul>
                            <ul class="nav nav-collapse">

                            </ul>
                        </div>
                    </li>
                    <li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
                        <h4 class="text-section">Administração</h4>
                    </li>
                    <li class="nav-item {% if 'widgets' in segment %} active {% endif %}">
                        <a href="/admin">
                            <i class="fas fa-desktop"></i>
                            <p>Configurações</p>
                            {#								<span class="badge badge-success"></span>#}
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>
<!-- End Sidebar -->
        